body{
    background-color: rgb(47, 47, 47);

    footer{

        .footer-top{
            background-image: url("../../public/images/footer-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        .about {
            height: 600px;
            color: $white;
            display: flex;
    
            .links-about {
                float: left;
                margin: 20px;
    
                h3 {
                    margin: 10px 0;
                }
    
                li {
                    list-style-type: none;
                    margin: 10px 0;
                    a {
                        color: rgb(92, 92, 92);;
                        font-weight: bold;
                    }
                }
    
               
            }
    
            figure {
                background-image: url("../../public/images/dc-logo-bg.png");
                height: 100%;
                background-size: cover;
                background-position: center;
            }
        }
        }
        
        .footer-follow{
            ul {
                margin-top: 20px;
                display: flex;
                padding: 0;
                justify-content: center;
                li{
                    list-style-type: none;
                    font-weight: bold;
                    a{
                        text-decoration: none;
                        padding: 15px 10px;
                        .fab{
                            font-size: 1.5rem;
                            color: rgb(92, 92, 92);
                            padding: 0 5px;
                        }
                        .fas{
                            font-size: 1.5rem;
                            color: rgb(92, 92, 92);
                            padding: 0 5px;
                        }
                    }
                }
            }
        }
        
    }
}